<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
    <servlet-name>JfreeChartServlet</servlet-name>
    <servlet-class>piechart</servlet-class>
  
  </servlet>
    <servlet>
        <servlet-name>barchart1</servlet-name>
        <servlet-class>barchart</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>linechart1</servlet-name>
        <servlet-class>linechart</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JfreeChartServlet</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>barchart1</servlet-name>
        <url-pattern>/barchart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linechart1</servlet-name>
        <url-pattern>/lineChartObject</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
